body{
  font-weight: 400;
}


table.product{
  width:80%;
  margin-top: 10%;
  margin-left: 10%;
  position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
td{
  width: 50%;
  padding-left:2%;
  /*border-style: solid;
  border-color: black;*/

}
.picture{
  padding-right: 2%;
  width: 40%;
}
.details{

}
.name{
  font-weight: 300;
  font-size: 40px;
  color: #43484D;
  letter-spacing: -1px;
}
.desc{
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;


}
h3{
  font-style: italic;
  color: #AAAAAA;
}

div.productContainer{
  width: 90%;
  padding-bottom: 20px;
}
.loginBox{
  width: 60%;
  padding-top: 10px;
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password], select, input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #AAAAAA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
